{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'tienda/galeria.css' %}">

    </header>

    <section class="gallery">
        <h2 class="gallery-title">CATALOGO</h2>
        <div class="gallery-container">
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch01.jpeg' %}">

            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch02.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch03.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch04.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch05.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch06.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch07.jpeg' %}">

            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch08.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch09.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch10.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch11.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ch12.jpeg' %}">            
            </div>


          

            <div class="gallery-item">
                <img src="{% static 'img/hombre/za01.jpg' %}">

            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za02.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za03.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za04.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za05.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za06.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za02.jpg' %}">

            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za08.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za09.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za10.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za11.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/za12.jpg' %}">            
            </div>

            
            
            
            
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph01.jpeg' %}">

            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph02.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph03.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph04.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph05.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph06.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph07.jpeg' %}">

            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph08.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph09.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph10.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph11.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/hombre/ph12.jpeg' %}">            
            </div>
        </div>
        
        
    </section>

    <section class="gallery">
            
        <div class="gallery-container">
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m01.jpg' %}">

            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m02.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m03.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m04.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m05.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m06.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m07.jpg' %}">

            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m08.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m09.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m10.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m11.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/m12.jpg' %}">            
            </div>




            <div class="gallery-item">
                <img src="{% static 'img/mujer/su01.jpg' %}">

            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su02.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su03.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su04.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su05.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su06.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su07.jpg' %}">

            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su08.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su09.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su10.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su11.jpg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/su12.jpg' %}">            
            </div>



            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb01.jpeg' %}">  
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb02.jpeg' %}">             
             </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb03.jpeg' %}">              
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb04.jpeg' %}">              
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb05.jpeg' %}">              
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb06.jpeg' %}">            
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb07.jpeg' %}">  
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb08.jpeg' %}">             
             </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb09.jpeg' %}">              
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb10.jpeg' %}">              
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb11.jpeg' %}">              
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/mujer/mb12.jpeg' %}">            
            </div>
        
        
        
        
        </div>

    </section>
    

    


    


{% endblock %}